@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    height: 100%;
    background: #081b29;
    color: #ededed;
    scroll-behavior: smooth;
}

.app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
}

/* --------------------------------- Header ------------------------------*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: rgb(0, 171, 240);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    border-radius: 0 0 20px 20px;
}

p.logo{
    position: relative;
    font-size: 15px;
    color: #081b29;
    text-decoration: none;
    font-weight: 300;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.logo:hover{
    text-shadow: 0.1px 0.1px whitesmoke;
}
.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    cursor: pointer;
}

.navbar a:hover ,
.navbar a.active {
     color: #081b29; 
     font-weight: bold;
}

.download-resume{
    background-color: #081b29;
    color: #ededed;
    padding: 8px 15px;
    border: 2px solid #081b29;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
/* 
.download-resume:hover{
    font-size: large;
} */

.navbar> a.download-resume:hover {
    color: #ededed;
}

.menu-toggle{
    display: none;
    background: #00abf0;
    height: 40px;
    width: 40px;
    border: 2px solid #081b29;
    cursor: pointer;
    font-size: 24px;
}

/* header phone optimization  */
@media (max-width: 768px) {

    .header{
        padding: 10px 5%;
    }
    .navbar {
      display: none;
      flex-direction: column;
      gap: 10px;
      background-color: #00abf0;
      position: absolute;
      top: 60px;
      right: 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      padding: 10px;
    }

    .navbar a{
        margin-left: 0;
        margin-top: 10px;
        font-size: 16px;
    }
  
    .navbar.open {
      display: flex;
    }
  
    .menu-toggle:hover ,
    .menu-toggle:active{
        background-color: #081b29;
        color: #ededed;
    }

    .menu-toggle {
      display: block;
    }

    .download-resume{
        padding: 5px 10px;
    }

    /* .download-resume:hover, 
    .download-resume:active{
        color: #ededed;
    } */
  }

/* Header - iPad optimization */
@media (min-width: 768px) and (max-width: 1024px){
    .header {
        padding: 15px 5%;
    }

    .navbar {
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: #00abf0;
        position: absolute;
        top: 60px;
        right: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    .navbar.open {
        display: flex;
    }

    .navbar a {
        margin-left: 0;
        margin-top: 10px;
        font-size: 16px;
    }

    .download-resume {
        padding: 8px 12px;
        font-size: 16px;
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle:hover,
    .menu-toggle:active {
        background-color: #081b29;
        color: #ededed;
    }

    .header .navbar.open {
        display: flex;
    }
}

  /* ---------------------------- Home ------------------------------- */

.about{
    height: 100vh;
    background: url('figure.JPG') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 15% 10% 0;
    z-index: 9;
}

.home-content{
    max-width: 600px;
    height: 90vh;
}

.home-content h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3{
    position: relative;
    font-size: 32px;
    font-weight: 500;
    color: #ededed;
}

.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.about-me{
    color: #00abf0;
    font-weight: bold;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 15px 0 40px;
}

.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

/* -------- Home Buttons Wrapper ---------- */
.home-btns {
    display: flex;
    flex-direction: column;   
    align-items: flex-start;  
    gap: 20px;                
    margin-top: 20px;
    position: relative;       
    z-index: 5;
}

/* If you want it centered instead of left-aligned */
.home-btns.center {
    align-items: center;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 345px;
    height: 50px;
    margin: 20px auto auto 40px;
}

.home-content .btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a, .btn-box button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    cursor: pointer;
}
.btn-box a:hover , 
.btn-box button:hover{
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a::before , 
.btn-box button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before , 
.btn-box button:hover::before {
    width: 100%;
}

/*---------Hire me form -------- */
/* Modal Styles */
/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  /* Modal Container */
  .modal {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  /* Modal Title */
  .modal h2 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: #333;
  }
  
  /* Form Label */
  .modal form label {
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #555;
  }
  
  /* Input Fields */
  .modal form input[type="email"],
  .modal form input[type="text"] {
    width: calc(100% - 2rem);
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
    box-sizing: border-box;
  }

.modal form button{
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px;
}

.modal form button[type="submit"] {
    background-color: #28a745;
}

.modal form button[type="submit"]:hover {
    background-color: #218838;
}

.modal form button{
    background-color: #dc3545;;
}

.modal form button:hover{
    background-color: #c82333;
}

/* ---- icons ------*/ 

.icons{
    position: absolute;
    bottom: -95px;
    padding-left: 100px;
    width: 320px;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 10px;
}

.icons::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.icons a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.icons a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.icons a:hover::before {
    width: 100%;
}

.icons a:hover{
    color: #081b29;
}

.image-hover{
    position: absolute;
    top: 10%;
    right: 140px;
    width: 500px;
    height: 100vh;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
    z-index: -1;
}

.image-hover:hover{
    background: #081b29;
    opacity: .6;
}

.image-hover::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}

/* Keyframe animations */

@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}

/* Home - Mobile optimization */
@media (max-width: 768px) {
    .about {
        padding: 25% 2% 0 2%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: none;
        height: 80%;
    }

    .home-content {
        max-width: 100%;
        height: 80%;
    }

    .home-content h1 {
        font-size: 30px;
    }

    .home-content h3 {
        font-size: 19px;
    }

    .home-content p {
        font-size: 12px;
        padding: 10px;
    }

    .home-content .btn-box {
        width: 100%;
        margin: 10px;
    }

    .btn-box a {
        padding: 10px;
    }

    .icons {
        position: relative;
        left: 0;
        bottom: 0;
        padding: 2px 0; 
        width: 100%;
        justify-content: center;
        gap: 10px;
        margin: 30px 2px;
    }

    .image-hover {
        display: none;
    }
}

/* Home - iPad optimization */
@media (min-width: 768px) and (max-width: 1024px) {
    .home {
        padding: 20% 5% 0 5%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: none;
        height: auto;
    }

    .home-content {
        max-width: 80%;
        height: auto;
    }

    .home-content h1 {
        font-size: 40px;
    }

    .home-content h3 {
        font-size: 24px;
    }

    .home-content p {
        font-size: 14px;
        padding: 10px;
    }

    .home-content .btn-box {
        width: 100%;
        margin: 10px;
    }

    .btn-box a {
        padding: 10px;
    }

    .icons {
        position: relative;
        left: 0;
        bottom: 0;
        padding: 15px 0; 
        width: 100%;
        justify-content: center;
        gap: 20px;
        margin: 2px 1px;
    }

    .image-hover {
        display: none;
    }
}

/* ------------------------------------Contact ------------------------------- */

.contact::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.contact{
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: 30px auto;
    margin-top: 90px;
}


form{
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: transparent;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 100%;
    box-sizing: border-box;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.form-group label {
    margin-bottom: 5px;
    color: #00abf0;
}

form input[type="text"],
form input[type="email"],
form textarea{
    width: 95%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 1px 0;
}

form button {
    width: 150px;
    height: 50px;    
    background: transparent;
    border: 2px solid #00abf0;
    font-size: 19px;
    color: #00abf0;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 1px;
    overflow: hidden;
}

form button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

form button:hover {
    color: #081b29;
    background-color: #00abf0;
}

.popup {
    margin-top: 15px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border-radius: 5px;
  }

/* -------------------------------------- Technical Skill ------------------------------------- */
.technical-skill{
    margin-top: 90px;
}


section.horizontal-scroll {
    overflow-x: hidden;
    padding: 20px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.icon-container {
    display: flex;
    animation: scrollAnimation 10s linear infinite;
    width: max-content;
    padding-top: 50px;
}

.icon-container img {
    width: 80px;
    height: 80px;
    margin-right: 40px;
    border: 2px solid #00abf0;
    background-color: #ededed;
    border-radius: 50%;
}

@keyframes scrollAnimation {
    0% {
        transform: translateX(100vw); 
    }
    100% {
        transform: translateX(-100%); 
    }
}

/* Programming Languages --------------------------------*/
section#programming-languages {
    width: 70%;
    text-align: center;
    margin: 50px auto 0; 
}

#programming-languages .skill {
    margin-bottom: 40px;
    margin-top: 10px;
}

#programming-languages .progress-bar {
    width: 0;
    height: 20px;
    background: linear-gradient(to right, #831bcd, #f9620b);
    border-radius: 10px;
}

#programming-languages .progress {
    height: 100%;
    border-radius: 10px;
    background-color: transparent;
}
#programming-languages h2{
    padding-bottom: 20px;
}
.skill p{
    padding: 10px;
}

#programming-languages .progress-bar.animated {
    animation: animateProgress 1s ease forwards;
}

@keyframes animateProgress {
    to {
        width: var(--progress); 
    }
}

/* ------------------------------------- Projects --------------------------------------------- */

.projects {
    width: 70%;
    text-align: center;
    margin: 120px auto 50px;
  }
  
  .project-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 50px;
  }

  .project-card-link{
    text-decoration: none;
  }
  
  .project-card {
    vertical-align: middle;
    color: #081b29;
    background: #00abf0;
    border: 1px solid #00abf0;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .project-image img {
    width: 100%;
    height: 200px;
    display: block;
  }
  
  .project-info {
    padding: 1rem;
  }
  
  .project-info h3 {
    margin: 4px;
    font-size: 1.25rem;
  }
  
  .project-info p {
    font-size: 1rem;
    color: #ededed;
  }

  .project-tools {
    margin-top: 10px;
    font-size: 12px;
    color: #555;
  }
  
  .project-tools strong {
    color: #000;
  }
  
  
  .project-buttons {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0 10px;
  }
  
  .project-buttons a ,
  .project-buttons button {
    color: #ededed;
    background-color: #081b29;
    position: relative;
    display: inline-flex;
    justify-content: center;
    width: 100px;
    height: 100%;
    text-decoration: none;
    padding: 4px;
    font-size: 14px;
    cursor: pointer;
    border: none;
  }
  
@media (max-width: 768px) {
    .project-cards {
      flex-direction: column;
      align-items: center;
    }
    
    .project-card {
      width: 100%;
      max-width: 600px;
    }
  }
  
  /* -------------------------- Footer.js ----------------------------- */

  .footer {
    background-color: #00abf0;
    padding: 1rem;
    border-top: 1px solid #00abf0;
    border-radius: 20px 20px 0 0;
    text-align: center;
    bottom: 0;
    margin-top: auto;
    position: relative;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-content p {
    margin: 0;
    font-size: 0.875rem;
    color: #333;
  }
  
  .footer-links {
    margin-top: 0.5rem;
  }
  
  .footer-links a {
    margin: 0 0.5rem;
    color: #ededed;
    font-size: 0.875rem;
    text-decoration: none;
  }
  
  
  